/////// standard ///////
@font-face {
    font-family: "Lalezar";
    src: url('../font/Lalezar-Regular.ttf');
}
@font-face {
    font-family: "Lemon";
    src: url('../font/Lemon-Regular.ttf');
}

$font1: Lemon, sans-serif;
$font2: Lalezar, sans-serif;
$primary-color: #225378;
$btncolor: #0F2755;
$backgroundcolor: white;
$font-h1: #1695A3;
$color2: #EB7F00;
$color3: #ACF0F2;
$labelo: 1vh 0 0;
$fgroup: 0vh 0 5vh;

body {
    margin: 0;
    color: $primary-color;
    font: 100% $font1;
    background-color: $backgroundcolor;
}
h1 {
    color: $primary-color;
    font-size: 6vh;
    font-family: $font2;
    letter-spacing: 2px;
    content: "";
    position: relative;
    text-transform: uppercase;
}
h4 {
    color: gray;
    margin: 1vh 40vh;
}
a {
    text-decoration: none;
}
p {
    font-size: 14px;
}

// button
button {
    padding: 1vh 2vh;
    color: $btncolor;
    background-color: $font-h1;
    border-radius: 1vh;
    border: 0px solid $color2;
}
button:hover {
    background-color: $primary-color;
}

/////// navbar ///////
.navig ul {
    margin: 0;
    overflow: hidden;
    background-color: $color2;
}
.navig li {
    display: block;
    float: left;
    width: 65vh;
    padding: 1vh 0;
    text-align: center;
}
.navig a {
    color: $primary-color;
    padding: 1.5vh 0;
}
.navig a:hover {
    color: $font-h1;
}

/////// page home ///////
.inscript {
    width: 60vh;
    float: left;
    padding: 6vh 21vh;
    border-right: 1px solid gray;
}
.connex {
    width: 60vh;
    float: right;
    margin: 19vh 24vh;
}
.add-users {
    width: 50vh;
    padding: 2vh 5vh;
}
.form-group {
    margin: $fgroup;
}
input {
    margin: $labelo;
}
.littletext {
    font-size: 10px;
    width: 60vh;
    opacity: 0.6;
}
.connect {
    margin: 1vh;
    padding: 0 14vh;
}
.btnconnect:hover {
    color: $color2;
    background-color: $primary-color;
}
.btnconnect:after {
    content: "";
    background: $color2;
    display: block;
    position: absolute;
    padding: 3vh 9.3vh;
    margin: -3.8vh -2vh;
    border-radius: 1vh;
    opacity: 0;
    transition: all 0.8s
}
.btnconnect:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/////// page compte ///////
.title2 {
    margin: 4vh 0 -3vh 40vh;
}
.namecred {
    text-align: center;
}
.crediteur {
    text-align: center;
    color: $primary-color;
}
.sectioncompta {
    display: inline-block;
    margin: 0vh 2vh 5vh;
}
.addcrediter {
    margin: -3vh 3vh 5vh 0vh;
    box-shadow: 0 5px #999;
}
.addcrediter:hover, .btn-deco:hover {
    color: $color2;
}
.addcrediter:active {
    background-color: $primary-color;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}
.modif {
    float: right;
    padding: 2.2vh;
    margin: -6vh 3vh 0vh 0vh;
    background-image: url(../img/Pencil-icon.png);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
}
.blockcred {
    display: inline-block;
    width: 46vh;
    margin: 0 1vh;
    border-radius: 1vh;
    border: black solid 2px;
}
.total-histo {
    background-color: $backgroundcolor;
    height: 8vh;
}
.totalcred {
    float: left;
    margin: 0;
    padding: 2vh 4vh;
    background-color: $backgroundcolor;
}
.histo {
    float: left;
    margin: 0;
    padding: 2vh 5vh;
    background-color: $backgroundcolor;
}
.histo a {
    color: $primary-color;
}
.histo a:hover {
    color: $font-h1;
}
.cred {
    padding: 2vh 3vh 2vh 0vh;
    text-align: center;
    background-color: $color2;
    color: $primary-color;
}
.descript {
    padding: 1vh 1vh 1vh;
    background-color: $color3;
    color: $color2;
}

/////// page adddepense ///////


/////// page déco ///////
.btn-deco {
    margin: -3vh 0vh 5vh 18vh;
    box-shadow: 0 5px #999;
}
.text1 {
    margin: 10vh 77vh;
}
.title3 {
    margin: 1vh;
    text-align: center;
}
.title3:after, 
.title3:before {
    background-color: $primary-color;
    height: 2px;
    content: "";
    position: absolute;
    top: 4vh;
    width: 14vh; 
}
.title3:after {      
    right: 0;
}
.title3:before {
    left: 0;
}
.ptitbar:after {      
    right: -10vh;
}
.ptitbar:before {
    left: -10vh;
}
.text3 {
    text-align: center;
}