@font-face {
  font-family: "Lalezar";
  src: url("../font/Lalezar-Regular.ttf"); }
@font-face {
  font-family: "Lemon";
  src: url("../font/Lemon-Regular.ttf"); }
body {
  margin: 0;
  color: #225378;
  font: 100% Lemon, sans-serif;
  background-color: white; }

h1 {
  color: #225378;
  font-size: 6vh;
  font-family: Lalezar, sans-serif;
  letter-spacing: 2px;
  content: "";
  position: relative;
  text-transform: uppercase; }

h4 {
  color: gray;
  margin: 1vh 40vh; }

a {
  text-decoration: none; }

p {
  font-size: 14px; }

button {
  padding: 1vh 2vh;
  color: #0F2755;
  background-color: #1695A3;
  border-radius: 1vh;
  border: 0px solid #EB7F00; }

button:hover {
  background-color: #225378; }

.navig ul {
  margin: 0;
  overflow: hidden;
  background-color: #EB7F00; }

.navig li {
  display: block;
  float: left;
  width: 65vh;
  padding: 1vh 0;
  text-align: center; }

.navig a {
  color: #225378;
  padding: 1.5vh 0; }

.navig a:hover {
  color: #1695A3; }

.inscript {
  width: 60vh;
  float: left;
  padding: 6vh 21vh;
  border-right: 1px solid gray; }

.connex {
  width: 60vh;
  float: right;
  margin: 19vh 24vh; }

.add-users {
  width: 50vh;
  padding: 2vh 5vh; }

.form-group {
  margin: 0vh 0 5vh; }

input {
  margin: 1vh 0 0; }

.littletext {
  font-size: 10px;
  width: 60vh;
  opacity: 0.6; }

.connect {
  margin: 1vh;
  padding: 0 14vh; }

.btnconnect {
  box-shadow: 0 5px #999; }

.title2 {
  margin: 4vh 0 -3vh 40vh; }

.namecred {
  text-align: center; }

.crediteur {
  text-align: center;
  color: #225378; }

.sectioncompta {
  display: inline-block;
  margin: 0vh 2vh 5vh; }

.addcrediter {
  margin: -3vh 3vh 5vh 0vh;
  box-shadow: 0 5px #999; }

.addcrediter:hover,
.btn-deco:hover,
.btnconnect:hover {
  color: #EB7F00; }

.addcrediter:active {
  background-color: #225378;
  box-shadow: 0 1px #666;
  transform: translateY(2px); }

.modif {
  float: right;
  padding: 2.2vh;
  margin: -6vh 3vh 0vh 0vh;
  background-image: url(../img/Pencil-icon.png);
  background-repeat: no-repeat;
  background-size: 75% 75%;
  background-position: center; }

.blockcred {
  display: inline-block;
  width: 46vh;
  margin: 0 1vh;
  border-radius: 1vh;
  border: black solid 2px; }

.total-histo {
  background-color: white;
  height: 8vh; }

.totalcred {
  float: left;
  margin: 0;
  padding: 2vh 4vh;
  background-color: white; }

.histo {
  float: left;
  margin: 0;
  padding: 2vh 5vh;
  background-color: white; }

.histo a {
  color: #225378; }

.histo a:hover {
  color: #1695A3; }

.cred {
  padding: 2vh 3vh 2vh 0vh;
  text-align: center;
  background-color: #EB7F00;
  color: #225378; }

.descript {
  padding: 1vh 1vh 1vh;
  background-color: #ACF0F2;
  color: #EB7F00; }

.sectdepense {
  width: 100vh;
  padding: 6vh 21vh;
  margin: auto; }

.add-depense {
  width: auto;
  padding: 2vh 18vh; }

.opt {
  color: white;
  background-size: contain; }

.grpblue {
  background-color: blue; }

.grpred {
  background-color: red; }

.grpgreen {
  background-color: green; }

.btn-deco {
  margin: -3vh 0vh 5vh 18vh;
  box-shadow: 0 5px #999; }

.text1 {
  margin: 10vh 77vh; }

.title3 {
  margin: 1vh;
  text-align: center; }

.title3:after,
.title3:before {
  background-color: #225378;
  height: 2px;
  content: "";
  position: absolute;
  top: 4vh;
  width: 14vh; }

.title3:after {
  right: 0; }

.title3:before {
  left: 0; }

.ptitbar:after {
  right: -10vh; }

.ptitbar:before {
  left: -10vh; }

.text3 {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
