<section id="compta" ng-controller="postCtrl">
	<div>
		<h1 class="title2">Benjamin</h1>
		<h4>le 15/08/2014</h4>
	</div>

	<div>
		<div class="namecred">
			<h2 class="crediteur">Les créditeurs</h2>
			<button type="text" class="addcrediter" onclick="parties/adddepense.html">Ajout dépense</button>
		</div>
		<div class="container sectioncompta" ng-repeat="depense in depenses">

			<div class="blockcred">
				<div class="cred">
					<p>{{depense.usergroup}}</p>
				</div>
				<div class="total-histo">
					<p class="totalcred">total : {{depense.Montant}}€</p>
					<p class="histo"><a href="#">historique{{depense.histo}}</a></p>
				</div>
				<div class="descript">
					<p>Nom : {{aUsers[depense.Payeur]}}</p><button type="button" class="modif" ng-click=""></button>
					<p>Date : {{depense.Date}}</p>
					<p>{{depense.Concernes}}</p>
					<p>nbConcernes : {{depense.nbConcernes}}</p>
					<p>{{depense.Description}}</p>
				</div>
			</div>

		</div>
	</div>
	<!--{{aUsers[depense.Payeur]}}-->
	<!--<div ng-controller="logCtrl">
		<div class="form-group" ng-repeat="user in users">
			<p>Selectionnez votre groupe :</p>
			<select class="inputDropDown">
				<p>{{user:username}}</p>
				<option value="groupe2">Soirée barbeuc</option>
				<option value="groupe3">Anniversaire 30 ans</option>
			</select>
		</div>
	</div>-->

</section>